











































/* .app {
  min-height: 100vh;
  background-color: #394553;
  color: white;
  padding-top: 130px;
  padding-bottom: 170px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
} */
